* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}

.jumbotron {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0; /*to remove the round corners*/
}

#portfolio-landing {
	color: #f2f2f2; /*off white*/
	font-size: 5vw;
	padding-top: 20vh;
	letter-spacing: 5px;
}

#portfolio-sub {
	color: #f2f2f2; /*off white*/
	font-size: 2vw;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.navbar {
	background-color: #FFD447;
}

#me-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height:200px; 
	width: 200px;
	border-radius: 10%;
	margin-top: 150px;
}

.aboutme {
	
margin: 0 auto;
	border-radius: 50%;
	margin-top: 150px;
	background-color: #AEB7B3;
	border: 1px solid black;
}

.cols-about {
	max-width: 100%;
}

#leftcol{
	background-color: #E1EFE6;
	min-height: 500px;
	max-width: 100%;

}

#rightcol {
	background-color: #AEB7B3;
	min-height: 500px;
	max-width: 100%;
	

}


#skills-head,
#projects-head {
	font-size: 5vw;
}




/* Projects */

#projects-banner {
	background-color: #160C28;
	/*width: 100%;*/
	min-height: 900px; 
	padding: 450px;

	color: white;
	font-size: 5em;
	text-align: center;
}

#projects {
	background-color: #FFD447;
	width: 100%;
	min-height: 900px; 
	padding: 30px;

	color: white;

}


/* Skills */

#skills-banner {
	background-color: #160C28;
/*	width: 100%;*/
	min-height: 900px; 
	padding: 450px;

	color: white;
	font-size: 500px;
	text-align: center;
}

#skills{
	background-color: #AEB7B3;
	width: 100%;
	min-height: 500px; 
	padding: 30px;

	color: black;
}

.skillbox {
	
	padding: 
	height: 15px;
	width: 15px;
	border: 1px solid black;
	background-color: white;
}

/*.progress-bar {
	background-color: red;
	color: red;
}*/
.progress-row {
	padding: 50px;
}

#html-bar {
	width:60%;
	background-color: #23445F;
}

#css-bar {
	width:50%;
	background-color: #23445F;
}

#bs-bar {
	width:50%;
	background-color: #23445F;
}

#python-bar {
	width:20%;
	background-color: #23445F;
}

#c-bar {
	width:20%;
	background-color: #23445F;
}



/* Contact Info */
#contact{
	background-color: #000411;
	min-height: 200px;
	width: 100%;
}



.contact-row {
	color: white;
	padding: 20px;
}

a:link,
a:visited,
a:active {
	color: white;
}




#facebook-icon:hover {
	color: #3B5998;
}

#ig-icon:hover {
	color: #833AB4;
}

#twitter-icon:hover {
	color: #1DA1F2;
}

#linkedin-icon:hover {
	color: #0077B5;
}

#mail-link:link,
#mail-link:visited,
#mail-link:active {
	color: white;
}

#mail-link:hover {
	color: #EC840C;
}

h4 {
	color:white;
}

.yellow-line{
	background-color: #FFD447;	
}


/* Footer */
.footer {
	height: 50px;
	background-color: #FFD447;
	padding-top: 10px;
	text-align: center;
}

