* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	margin: 0;
   	min-height: 100%;
  	width: 100%;
/*	background-color: #000411;*/
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


#banner {
	background-color: #000411;
	height: 900px; 
	padding: 30px;
	position: relative;
	color: white;
}

.hero {
	background-color: #000411;
	width: 40%;
	border: 5px groove white;
	padding: 40px;
	text-align: center;
	font-size: 5em;
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.navbar {
	background-color: #FFD447;
}

.navbar-toggle.collapsed {
    background-color: red;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: red;
}

.brand-name:link,
.brand-name:visited,
.brand-name:active  {
	color:white;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
	color: white;
}


.brand-name:hover,
.nav-link:hover {
	color:#160C28;
}

#aboutme {
	max-height: 500px; 
	width: 100%;	
	background-color: #E1EFE6;
}




#me-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height:200px; 
	width: 200px;
	border-radius: 50%;
	margin-top: 150px;
}

.about {
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	margin-top: 150px;
}

#leftrow {
	background-color: #E1EFE6;
	min-height: 500px;

}

#rightrow {
	background-color: #AEB7B3;
	min-height: 500px;
	padding: 0 50px;

}

#projects-banner {
	background-color: #FFD447;
	width: 100%;
	min-height: 900px; 
	padding: 450px;

	color: white;
	font-size: 5em;
	text-align: center;
}

#projects {
	background-color: #FFD447;
	width: 100%;
	min-height: 900px; 
	padding: 30px;

	color: white;

}

.jumbotron {
	padding-top: 50px;
	text-align: center;
}

#skills-banner {
	background-color: #AEB7B3;
	width: 100%;
	min-height: 900px; 
	padding: 450px;

	color: black;
	font-size: 500px;
	text-align: center;
}

#skills{
	background-color: #AEB7B3;
	width: 100%;
	min-height: 900px; 
	padding: 30px;

	color: black;
}



#contact{
	background-color: #000411;
	min-height: 200px;
	width: 100%;
}







.footer {
	height: 50px;
	background-color: #FFD447;
	text-align: center;
}


.skillbox {
	
	padding: 
	height: 15px;
	width: 15px;
	border: 1px solid black;
	background-color: white;
}

/*.progress-bar {
	background-color: red;
	color: red;
}*/
.progress-row {
	padding-top: 80px;
}

#html-bar {
	width:60%;
	background-color: #23445F;
}

#css-bar {
	width:50%;
	background-color: #23445F;
}

#bs-bar {
	width:50%;
	background-color: #23445F;
}

#python-bar {
	width:20%;
	background-color: #23445F;
}

#c-bar {
	width:20%;
	background-color: #23445F;
}
















/*
a:link,
a:visited,
a:active 
a:hover
	color: gray;*/